@{
    ViewData["Title"] = "درباره این پروژه";
}
<h1>@ViewData["Title"]</h1>

<p>این پروژه به منظور یادگیری تعاملی دانشجویان در درس طراحی مبتنی بر وب ایجاد شده است.</p>
<p >تهیه کنندگان : موعود محمدی تبار / علیرضا کامراینان</p>
